{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "Hoot",
    "license": {
      "name": "ISC"
    }
  },
  "servers": [
    {
      "url": "https://hoot.at/api"
    }
  ],
  "paths": {
    "/hoot": {
      "post": {
        "summary": "Create a hoot",
        "description": "Post a new hoot to the site",
        "tags": ["Hoots"],
        "requestBody": {
          "description": "The hoot you want to post",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["post"],
                "properties": {
                  "post": {
                    "type": "string",
                    "description": "The under-280-character content you want to hoot"
                  },
                  "replyto": {
                    "type": "string",
                    "description": "Optional id of the hoot you're replying to"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {}
  }
}
