{
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/typescript",
    "plugin:jsdoc/recommended"
  ],
  "root": true,
  "plugins": ["jsdoc"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off", // Until we have better types everywhere this is fine.
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-var-requires": "off",

    "camelcase": "off",

    // Our TS types are better suited for these cases.
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",

    "max-classes-per-file": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-shadow": "off", // `no-shadow` doesn't play well with Typescript enums.

    "no-use-before-define": ["error", { "classes": false }],

    "no-underscore-dangle": ["error", {
      "allow": ["_dereferencing", "_key", "_promises"]
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
