{
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/testing"
  ],
  "root": true,
  "rules": {
    "jest/no-if": "off",
    "jest/no-standalone-expect": ["error", {
      "additionalTestBlockFunctions": ["itif"]
    }]
  }
}
