{
  "extends": "@readme/eslint-config",
  "root": true,
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",

    "no-underscore-dangle": ["error", {
      "allow": ["_dereferencing", "_promises"]
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
