openapi: 3.0.1
info:
  title: STAPI
  version: 1.0.0
servers:
  - url: http://stapi.co/api/v1/rest
paths:
  '/animal':
    get:
      tags:
        - Animal
      description: Retrival of a single animal
      parameters:
        - name: uid
          in: query
          description: Animal unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AnimalFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/animal/search':
    get:
      tags:
        - Animal
      description: Pagination over animals
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AnimalBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Animal
      description: Searching animals
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Animal name
                earthAnimal:
                  type: boolean
                  description: Whether it should be an earth animal
                earthInsect:
                  type: boolean
                  description: Whether it should be an earth insect
                avian:
                  type: boolean
                  description: Whether it should be an avian
                canine:
                  type: boolean
                  description: Whether it should be a canine
                feline:
                  type: boolean
                  description: Whether it should be a feline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AnimalBaseResponse'
  '/astronomicalObject':
    get:
      tags:
        - AstronomicalObject
      description: Retrival of a single astronomical object
      parameters:
        - name: uid
          in: query
          description: Astronomical object's unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AstronomicalObjectFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/astronomicalObject/search':
    get:
      tags:
        - AstronomicalObject
      description: Pagination over astronomical objects
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AstronomicalObjectBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - AstronomicalObject
      description: Searching astronomical objects
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Astronomical object name
                astronomicalObjectType:
                  type: string
                  description: Type of astronomical object
                locationUid:
                  type: string
                  description: Unique ID of astronomical object containing objects
                    being searched
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AstronomicalObjectBaseResponse'
  '/book':
    get:
      tags:
        - Book
      description: Retrival of a single book
      parameters:
        - name: uid
          in: query
          description: Book unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/book/search':
    get:
      tags:
        - Book
      description: Pagination over books
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Book
      description: Searching books
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of book story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of book story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of book story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book story
                  format: int32
                novel:
                  type: boolean
                  description: Whether it should be a novel
                referenceBook:
                  type: boolean
                  description: Whether it should be a reference book
                biographyBook:
                  type: boolean
                  description: Whether it should be a biography book
                rolePlayingBook:
                  type: boolean
                  description: Whether it should be a role playing book
                eBook:
                  type: boolean
                  description: Whether it should be an e-book
                anthology:
                  type: boolean
                  description: Whether it should be an anthology
                novelization:
                  type: boolean
                  description: Whether it should be novelization
                audiobook:
                  type: boolean
                  description: Whether it should be an audiobook
                audiobookAbridged:
                  type: boolean
                  description: Whether it should be an audiobook, abridged
                audiobookPublishedYearFrom:
                  type: integer
                  description: Starting year the audiobook was published
                  format: int32
                audiobookPublishedYearTo:
                  type: integer
                  description: Ending year the audiobook was published
                  format: int32
                audiobookRunTimeFrom:
                  type: integer
                  description: Minimal audiobook run time, in minutes
                  format: int32
                audiobookRunTimeTo:
                  type: integer
                  description: Maximal audiobook run time, in minutes
                  format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookBaseResponse'
  '/bookCollection':
    get:
      tags:
        - BookCollection
      description: Retrival of a single book collection
      parameters:
        - name: uid
          in: query
          description: Book collection unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookCollectionFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/bookCollection/search':
    get:
      tags:
        - BookCollection
      description: Pagination over book collections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookCollectionBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - BookCollection
      description: Searching book collections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book collection title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book collection was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book collection was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of book collection stories
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of book collections stories
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of book collection stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book collections stories
                  format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookCollectionBaseResponse'
  '/bookSeries':
    get:
      tags:
        - BookSeries
      description: Retrival of a single book series
      parameters:
        - name: uid
          in: query
          description: Book series unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookSeriesFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/bookSeries/search':
    get:
      tags:
        - BookSeries
      description: Pagination over book series
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookSeriesBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - BookSeries
      description: Searching book series
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book series title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book series was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book series was published
                  format: int32
                numberOfBooksFrom:
                  type: integer
                  description: Minimal number of books
                  format: int32
                numberOfBooksTo:
                  type: integer
                  description: Maximal number of books
                  format: int32
                yearFrom:
                  type: integer
                  description: Starting year of book series stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book series stories
                  format: int32
                miniseries:
                  type: boolean
                  description: Whether it should be a miniseries
                eBookSeries:
                  type: boolean
                  description: Whether it should be an e-book series
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/BookSeriesBaseResponse'
  '/character':
    get:
      tags:
        - Character
      description: Retrival of a single character
      parameters:
        - name: uid
          in: query
          description: Character unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CharacterFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/character/search':
    get:
      tags:
        - Character
      description: Pagination over characters
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CharacterBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Character
      description: Searching characters
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Character name
                gender:
                  type: string
                  description: Character gender
                deceased:
                  type: boolean
                  description: Whether it should be a deceased character
                hologram:
                  type: boolean
                  description: Whether it should be a hologram
                fictionalCharacter:
                  type: boolean
                  description: Whether it should be a fictional character (from universe
                    point of view)
                mirror:
                  type: boolean
                  description: Whether it should be a mirror universe character
                alternateReality:
                  type: boolean
                  description: Whether it should be a alternate reality character
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CharacterBaseResponse'
  '/comics':
    get:
      tags:
        - Comics
      description: Retrival of a single comics
      parameters:
        - name: uid
          in: query
          description: Comics unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicsFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/comics/search':
    get:
      tags:
        - Comics
      description: Pagination over comics
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicsBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Comics
      description: Searching comics
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comics title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comics was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comics was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of comics story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of comics story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of comics story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comics story
                  format: int32
                photonovel:
                  type: boolean
                  description: Whether it should be a photonovel
                adaptation:
                  type: boolean
                  description: Whether it should be an adaptation of an episode or
                    a movie
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicsBaseResponse'
  '/comicCollection':
    get:
      tags:
        - ComicCollection
      description: Retrival of a single comic collection
      parameters:
        - name: uid
          in: query
          description: Comic collection unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicCollectionFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/comicCollection/search':
    get:
      tags:
        - ComicCollection
      description: Pagination over comic collections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicCollectionBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - ComicCollection
      description: Searching comic collections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comic collection title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comic collection was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comic collection was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of comic collection stories
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of comic collections stories
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of comic collection stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comic collections stories
                  format: int32
                photonovel:
                  type: boolean
                  description: Whether it should be an photonovel collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicCollectionBaseResponse'
  '/comicSeries':
    get:
      tags:
        - ComicSeries
      description: Retrival of a single comic series
      parameters:
        - name: uid
          in: query
          description: Comic series unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicSeriesFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/comicSeries/search':
    get:
      tags:
        - ComicSeries
      description: Pagination over comic series
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicSeriesBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - ComicSeries
      description: Searching comic series
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comic series title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comic series was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comic series was published
                  format: int32
                numberOfIssuesFrom:
                  type: integer
                  description: Minimal number of issues
                  format: int32
                numberOfIssuesTo:
                  type: integer
                  description: Maximal number of issues
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of comic series stories
                  format: float
                stardateTo:
                  type: number
                  description: Starting stardate of comic series stories
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of comic series stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comic series stories
                  format: int32
                miniseries:
                  type: boolean
                  description: Whether it should be a miniseries
                photonovelSeries:
                  type: boolean
                  description: Whether it should be photonovel series
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicSeriesBaseResponse'
  '/comicStrip':
    get:
      tags:
        - ComicStrip
      description: Retrival of a single comic strip
      parameters:
        - name: uid
          in: query
          description: Comic strip unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicStripFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/comicStrip/search':
    get:
      tags:
        - ComicStrip
      description: Pagination over comic strips
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicStripBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - ComicStrip
      description: Searching comic strips
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comic strip title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comic strip was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comic strip was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                yearFrom:
                  type: integer
                  description: Starting year of comic strip story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comic strip story
                  format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ComicStripBaseResponse'
  '/company':
    get:
      tags:
        - Company
      description: Retrival of a single company
      parameters:
        - name: uid
          in: query
          description: Company unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/company/search':
    get:
      tags:
        - Company
      description: Pagination over companies
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Company
      description: Searching companies
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Company name
                broadcaster:
                  type: boolean
                  description: Whether it should be a broadcaster
                collectibleCompany:
                  type: boolean
                  description: Whether it should be a collectible company
                conglomerate:
                  type: boolean
                  description: Whether it should be a conglomerate
                digitalVisualEffectsCompany:
                  type: boolean
                  description: Whether it should be a digital visual effects company
                distributor:
                  type: boolean
                  description: Whether it should be a distributor
                gameCompany:
                  type: boolean
                  description: Whether it should be a game company
                filmEquipmentCompany:
                  type: boolean
                  description: Whether it should be a film equipment company
                makeUpEffectsStudio:
                  type: boolean
                  description: Whether it should be a make-up effects studio
                mattePaintingCompany:
                  type: boolean
                  description: Whether it should be a matte painting company
                modelAndMiniatureEffectsCompany:
                  type: boolean
                  description: Whether it should be a model and miniature effects
                    company
                postProductionCompany:
                  type: boolean
                  description: Whether it should be a post-production company
                productionCompany:
                  type: boolean
                  description: Whether it should be a production company
                propCompany:
                  type: boolean
                  description: Whether it should be a prop company
                recordLabel:
                  type: boolean
                  description: Whether it should be a record label
                specialEffectsCompany:
                  type: boolean
                  description: Whether it should be a special effects company
                tvAndFilmProductionCompany:
                  type: boolean
                  description: Whether it should be a TV and film production company
                videoGameCompany:
                  type: boolean
                  description: Whether it should be a video game company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyBaseResponse'
  '/conflict':
    get:
      tags:
        - Conflict
      description: Retrival of a single conflict
      parameters:
        - name: uid
          in: query
          description: Conflict unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ConflictFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/conflict/search':
    get:
      tags:
        - Conflict
      description: Pagination over conflicts
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ConflictBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Conflict
      description: Searching conflicts
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Conflict name
                yearFrom:
                  type: integer
                  description: Starting year of the conflict
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of the conflict
                  format: int32
                earthConflict:
                  type: boolean
                  description: Whether it should be an Earth conflict
                federationWar:
                  type: boolean
                  description: Whether this conflict should be a part of war involving
                    Federation
                klingonWar:
                  type: boolean
                  description: Whether this conflict should be a part of war involving
                    the Klingons
                dominionWarBattle:
                  type: boolean
                  description: Whether this conflict should be a Dominion war battle
                alternateReality:
                  type: boolean
                  description: Whether this conflict should be from alternate reality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ConflictBaseResponse'
  '/element':
    get:
      tags:
        - Element
      description: Retrival of a single element
      parameters:
        - name: uid
          in: query
          description: Element unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ElementFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/element/search':
    get:
      tags:
        - Element
      description: Pagination over elements
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ElementBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Element
      description: Searching elements
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Element name
                symbol:
                  type: string
                  description: Element symbol
                transuranium:
                  type: boolean
                  description: Whether it should be a transuranium
                gammaSeries:
                  type: boolean
                  description: Whether it should belong to Gamma series
                hypersonicSeries:
                  type: boolean
                  description: Whether it should belong to Hypersonic series
                megaSeries:
                  type: boolean
                  description: Whether it should belong to Mega series
                omegaSeries:
                  type: boolean
                  description: Whether it should belong to Omega series
                transonicSeries:
                  type: boolean
                  description: Whether it should belong to Transonic series
                worldSeries:
                  type: boolean
                  description: Whether it should belong to World series
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ElementBaseResponse'
  '/episode':
    get:
      tags:
        - Episode
      description: Retrival of a single episode
      parameters:
        - name: uid
          in: query
          description: Episode unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/EpisodeFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/episode/search':
    get:
      tags:
        - Episode
      description: Pagination over episodes
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/EpisodeBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Episode
      description: Searching episodes
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Episode title
                seasonNumberFrom:
                  type: integer
                  description: Minimal season number
                  format: int32
                seasonNumberTo:
                  type: integer
                  description: Maximal season number
                  format: int32
                episodeNumberFrom:
                  type: integer
                  description: Minimal episode number in season
                  format: int32
                episodeNumberTo:
                  type: integer
                  description: Maximal episode number in season
                  format: int32
                productionSerialNumber:
                  type: string
                  description: Production serial number
                featureLength:
                  type: boolean
                  description: Whether it should be a feature length episode
                stardateFrom:
                  type: number
                  description: Starting stardate of episode story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of episode story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of episode story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of episode story
                  format: int32
                usAirDateFrom:
                  type: string
                  description: Minimal date the episode was first aired in the United
                    States
                  format: date
                usAirDateTo:
                  type: string
                  description: Maximal date the episode was first aired in the United
                    States
                  format: date
                finalScriptDateFrom:
                  type: string
                  description: Minimal date the episode script was completed
                  format: date
                finalScriptDateTo:
                  type: string
                  description: Maximal date the episode script was completed
                  format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/EpisodeBaseResponse'
  '/food':
    get:
      tags:
        - Food
      description: Retrival of a single food
      parameters:
        - name: uid
          in: query
          description: Food unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/FoodFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/food/search':
    get:
      tags:
        - Food
      description: Pagination over foods
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/FoodBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Food
      description: Searching foods
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Food name
                earthlyOrigin:
                  type: boolean
                  description: Whether it should be of earthly origin
                dessert:
                  type: boolean
                  description: Whether it should be a dessert
                fruit:
                  type: boolean
                  description: Whether it should be a fruit
                herbOrSpice:
                  type: boolean
                  description: Whether it should be an herb or a spice
                sauce:
                  type: boolean
                  description: Whether it should be a sauce
                soup:
                  type: boolean
                  description: Whether it should be a soup
                beverage:
                  type: boolean
                  description: Whether it should be a beverage
                alcoholicBeverage:
                  type: boolean
                  description: Whether it should be an alcoholic beverage
                juice:
                  type: boolean
                  description: Whether it should be a juice
                tea:
                  type: boolean
                  description: Whether it should be a tea
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/FoodBaseResponse'
  '/literature':
    get:
      tags:
        - Literature
      description: Retrival of a single literature
      parameters:
        - name: uid
          in: query
          description: Literature unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/LiteratureFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/literature/search':
    get:
      tags:
        - Literature
      description: Pagination over literature
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/LiteratureBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Literature
      description: Searching literature
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Literature title
                earthlyOrigin:
                  type: boolean
                  description: Whether it should be of earthly origin
                shakespeareanWork:
                  type: boolean
                  description: Whether it should be a Shakespearean work
                report:
                  type: boolean
                  description: Whether it should be a report
                scientificLiterature:
                  type: boolean
                  description: Whether it should be a scientific literature
                technicalManual:
                  type: boolean
                  description: Whether it should be a technical manual
                religiousLiterature:
                  type: boolean
                  description: Whether it should be a religious literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/LiteratureBaseResponse'
  '/location':
    get:
      tags:
        - Location
      description: Retrival of a single location
      parameters:
        - name: uid
          in: query
          description: Location unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/LocationFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/location/search':
    get:
      tags:
        - Location
      description: Pagination over locations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/LocationBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Location
      description: Searching locations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Location name
                earthlyLocation:
                  type: boolean
                  description: Whether it should be an earthly location
                fictionalLocation:
                  type: boolean
                  description: Whether it should be a fictional location
                religiousLocation:
                  type: boolean
                  description: Whether it should be a religious location
                geographicalLocation:
                  type: boolean
                  description: Whether it should be a geographical location
                bodyOfWater:
                  type: boolean
                  description: Whether it should be a body of water
                country:
                  type: boolean
                  description: Whether it should be a country
                subnationalEntity:
                  type: boolean
                  description: Whether it should be a subnational entity
                settlement:
                  type: boolean
                  description: Whether it should be a settlement
                usSettlement:
                  type: boolean
                  description: Whether it should be a US settlement
                bajoranSettlement:
                  type: boolean
                  description: Whether it should be a Bajoran settlement
                colony:
                  type: boolean
                  description: Whether it should be a colony
                landform:
                  type: boolean
                  description: Whether it should be a landform
                landmark:
                  type: boolean
                  description: Whether it should be a landmark
                road:
                  type: boolean
                  description: Whether it should be a road
                structure:
                  type: boolean
                  description: Whether it should be a structure
                shipyard:
                  type: boolean
                  description: Whether it should be a shipyard
                buildingInterior:
                  type: boolean
                  description: Whether it should be a building interior
                establishment:
                  type: boolean
                  description: Whether it should be a establishment
                medicalEstablishment:
                  type: boolean
                  description: Whether it should be a medical establishment
                ds9Establishment:
                  type: boolean
                  description: Whether it should be a DS9 establishment
                school:
                  type: boolean
                  description: Whether it should be a school
                mirror:
                  type: boolean
                  description: Whether this location should be from mirror universe
                alternateReality:
                  type: boolean
                  description: Whether this location should be from alternate reality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/LocationBaseResponse'
  '/magazine':
    get:
      tags:
        - Magazine
      description: Retrival of a single magazine
      parameters:
        - name: uid
          in: query
          description: Magazine unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MagazineFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/magazine/search':
    get:
      tags:
        - Magazine
      description: Pagination over magazines
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MagazineBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Magazine
      description: Searching magazines
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Magazine title
                publishedYearFrom:
                  type: integer
                  description: Starting year the magazine was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the magazine was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MagazineBaseResponse'
  '/magazineSeries':
    get:
      tags:
        - MagazineSeries
      description: Retrival of a single magazine series
      parameters:
        - name: uid
          in: query
          description: Magazine series unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MagazineSeriesFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/magazineSeries/search':
    get:
      tags:
        - MagazineSeries
      description: Pagination over magazine series
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MagazineSeriesBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - MagazineSeries
      description: Searching magazine series
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Magazine series title
                publishedYearFrom:
                  type: integer
                  description: Starting year the magazine series was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the magazine series was published
                  format: int32
                numberOfIssuesFrom:
                  type: integer
                  description: Minimal number of issues
                  format: int32
                numberOfIssuesTo:
                  type: integer
                  description: Maximal number of issues
                  format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MagazineSeriesBaseResponse'
  '/material':
    get:
      tags:
        - Material
      description: Retrival of a single material
      parameters:
        - name: uid
          in: query
          description: Material unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MaterialFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/material/search':
    get:
      tags:
        - Material
      description: Pagination over materials
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MaterialBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Material
      description: Searching materials
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Material name
                chemicalCompound:
                  type: boolean
                  description: Whether it should be a chemical compound
                biochemicalCompound:
                  type: boolean
                  description: Whether it should be a biochemical compound
                drug:
                  type: boolean
                  description: Whether it should be a drug
                poisonousSubstance:
                  type: boolean
                  description: Whether it should be a poisonous substance
                explosive:
                  type: boolean
                  description: Whether it should be an explosive
                gemstone:
                  type: boolean
                  description: Whether it should be a gemstone
                alloyOrComposite:
                  type: boolean
                  description: Whether it should be an alloy or a composite
                fuel:
                  type: boolean
                  description: Whether it should be a fuel
                mineral:
                  type: boolean
                  description: Whether it should be a mineral
                preciousMaterial:
                  type: boolean
                  description: Whether it should be a precious material
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MaterialBaseResponse'
  '/medicalCondition':
    get:
      tags:
        - MedicalCondition
      description: Retrival of a single medical condition
      parameters:
        - name: uid
          in: query
          description: Medical condition unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MedicalConditionFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/medicalCondition/search':
    get:
      tags:
        - MedicalCondition
      description: Pagination over medical conditions
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MedicalConditionBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - MedicalCondition
      description: Searching medical conditions
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Medical condition name
                psychologicalCondition:
                  type: boolean
                  description: Whether it should be a psychological condition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MedicalConditionBaseResponse'
  '/movie':
    get:
      tags:
        - Movie
      description: Retrival of a single movie
      parameters:
        - name: uid
          in: query
          description: Movie unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MovieFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/movie/search':
    get:
      tags:
        - Movie
      description: Pagination over movies
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MovieBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Movie
      description: Searching movies
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Movie title
                stardateFrom:
                  type: number
                  description: Starting stardate of movie story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of movie story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of movie story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of movie story
                  format: int32
                usReleaseDateFrom:
                  type: string
                  description: Minimal date the movie was first released in the United
                    States
                  format: date
                usReleaseDateTo:
                  type: string
                  description: Maximal date the movie was first released in the United
                    States
                  format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/MovieBaseResponse'
  '/occupation':
    get:
      tags:
        - Occupation
      description: Retrival of a single occupation
      parameters:
        - name: uid
          in: query
          description: Occupation unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/OccupationFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/occupation/search':
    get:
      tags:
        - Occupation
      description: Pagination over occupations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/OccupationBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Occupation
      description: Searching occupations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Occupation name
                legalOccupation:
                  type: boolean
                  description: Whether it should be a legal occupation
                medicalOccupation:
                  type: boolean
                  description: Whether it should be a medical occupation
                scientificOccupation:
                  type: boolean
                  description: Whether it should be a scientific occupation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/OccupationBaseResponse'
  '/organization':
    get:
      tags:
        - Organization
      description: Retrival of a single organization
      parameters:
        - name: uid
          in: query
          description: Organization unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/OrganizationFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/organization/search':
    get:
      tags:
        - Organization
      description: Pagination over organizations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/OrganizationBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
    post:
      tags:
        - Organization
      description: Searching organizations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Organization name
                government:
                  type: boolean
                  description: Whether it should be a government
                intergovernmentalOrganization:
                  type: boolean
                  description: Whether it should be an intergovernmental organization
                researchOrganization:
                  type: boolean
                  description: Whether it should be a research organization
                sportOrganization:
                  type: boolean
                  description: Whether it should be a sport organization
                medicalOrganization:
                  type: boolean
                  description: Whether it should be a medical organization
                militaryOrganization:
                  type: boolean
                  description: Whether it should be a military organization
                militaryUnit:
                  type: boolean
                  description: Whether it should be a military unit
                governmentAgency:
                  type: boolean
                  description: Whether it should be a government agency
                lawEnforcementAgency:
                  type: boolean
                  description: Whether it should be a law enforcement agency
                prisonOrPenalColony:
                  type: boolean
                  description: Whether it should be a prison or penal colony
                mirror:
                  type: boolean
                  description: Whether this organization should be from mirror universe
                alternateReality:
                  type: boolean
                  description: Whether this organization should be from alternate
                    reality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/OrganizationBaseResponse'
  '/performer':
    get:
      tags:
        - Performer
      description: Retrival of a single performer
      parameters:
        - name: uid
          in: query
          description: Performer unique ID
          required: true
          schema:
            type: string
        - name: apiKey
          in: query
          description: API key
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/PerformerFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Error'
  '/performer/search':
    get:
      tags:
        - Performer
      description: Pagination over performers
      parameters:
[...]
