{
  "openapi": "3.0.0",
  "x-api-id": "hoot-test",
  "x-proxy-enabled": true,
  "x-samples-enabled": true,
  "x-samples-languages": [
    "curl",
    "node-simple",
    "ruby",
    "javascript",
    "python"
  ],
  "info": {
    "version": "1.0",
    "title": "Hoot",
    "license": {
      "name": "ISC"
    }
  },
  "paths": {
    "/hoot": {
      "post": {
        "summary": "Create a hoot",
        "description": "Post a new hoot to the site",
        "tags": [
          "Hoots"
        ],
        "requestBody": {
          "description": "The hoot you want to post",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hoot"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://hoot.at/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "Hoot": {
        "type": "object",
        "required": [
          "post"
        ],
        "properties": {
          "post": {
            "type": "string",
            "description": "The under-280-character content you want to hoot"
          },
          "replyto": {
            "type": "string",
            "description": "Optional id of the hoot you're replying to"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true
  }
}